{block content}
<h1>Homepage</h1>

<p>Nette, Webloader, Texyla and Twitter, from Bootstrap minimal working example. All css a js are minified. Texy is integrated to Nette. Yes, there are some other examples, but I have some issue with each other.</p>
