{block content}
<div class="row">
    <div class="span6">
        <h2>Aktualitky</h2>
        {control twitterFeed:minimal, intents => true}
    </div>
    <div class="span6">
        {control twitterFeed:medium}
    </div>
</div>

