#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# http://nette.org/security-warning
#
common:
	php:
		date.timezone: Europe/Prague
		# session.save_path: "%tempDir%/sessions"
		# zlib.output_compression: yes
		
	nette:


	services:
		texy: MyTexy
		wlCssFilter: WebLoader\Filter\CssUrlsFilter( %wwwDir% )

	webloader:
		css:
			default:
				remoteFiles:
					- http://code.jquery.com/ui/1.9.1/themes/base/jquery-ui.css
				files:
					- %appDir%/../libs/Bootstrap/css/bootstrap.min.css
					- %appDir%/../libs/Bootstrap/css/bootstrap-responsive.min.css
					- %wwwDir%/texyla/css/style.css
					- %wwwDir%/texyla/themes/default/theme.css
				filters:
					- @wlCssFilter
		js: 
			default:
				remoteFiles:
					- https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js
					- https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js
				files:
					- %wwwDir%/js/netteForms.js
					- %wwwDir%/js/jquery.nette.js

	factories:

production < common:

development < common:
