<!DOCTYPE html>
<html lang="cs">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <meta name="robots" content="{$robots}" n:ifset="$robots" />

    <title></title>

    {control css}
    {control js}
    {control texyla}

    <link rel="shortcut icon" href="{$basePath}/favicon.ico" type="image/x-icon" />

    {block head}{/block}
  </head>

  <body style="margin-top: 60px;">

    <header class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
	  <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="{link :Front:Homepage:}">Web</a>
          <ul class="nav nav-collapse collapse">
            <li n:class="$presenter->isLinkCurrent(':Front:Homepage:texyla') ? active">
              <a href="{link :Front:Homepage:texyla}">Texyla</a>
            </li>
            <li n:class="$presenter->isLinkCurrent(':Front:Homepage:bootstrap') ? active">
              <a href="{link :Front:Homepage:bootstrap}">Bootstrap</a>
            </li>
            <li n:class="$presenter->isLinkCurrent(':Front:Homepage:javascript') ? active">
              <a href="{link :Front:Homepage:javascript}">JavaScript</a>
            </li>
            <li n:class="$presenter->isLinkCurrent(':Front:Database:*') ? active">
              <a href="{link :Front:Database:}">Database</a>
            </li>
          </ul>
        </div>
      </div>
    </header>

    <div class="container main">
      {snippet flash}
      <div n:foreach="$flashes as $flash" class="alert alert-{$flash->type}">
        <a class="close" data-dismiss="alert">×</a>
        {$flash->message}
      </div>
      {/snippet}

      <article>
      {snippet content}
      {include #content}
      {/snippet}
      </article>
    </div>

    <footer>
    </footer>
  </body>
</html>
